<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />

<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <style type='text/css'>/* line 1, /home/allan/Projetos/baile/meuingresso/app/assets/stylesheets/pdf.scss */
.ingresso {
  background-image: url("data:image/png;base64,<%= @image %>");
  background-repeat: no-repeat;
  width: 2000px;
  height: 900px;
  margin-bottom: 10px;
  border: 5px 5px 5px 5px;
  border-width: 15px;
  border-style: solid;
  border-color: black;
}

/* line 12, /home/allan/Projetos/baile/meuingresso/app/assets/stylesheets/pdf.scss */
.texto {
  color: red;
  margin-left: 1200px;
  margin-top: 420px;
  font-size: 600%;
}

/* line 18, /home/allan/Projetos/baile/meuingresso/app/assets/stylesheets/pdf.scss */
.code {
  color: black;
  margin-top: 40px;
  margin-left: 1200px;
  font-size: 600%;
}

/* line 24, /home/allan/Projetos/baile/meuingresso/app/assets/stylesheets/pdf.scss */
.codebar {
  margin-top: 450px;
  float: right;
}

/* line 28, /home/allan/Projetos/baile/meuingresso/app/assets/stylesheets/pdf.scss */
.date {
  margin-top: 10px;
  margin-left: 1125px;
  font-size: 300%;
  color: black;
}

/* line 34, /home/allan/Projetos/baile/meuingresso/app/assets/stylesheets/pdf.scss */
.page-break {
  display: block;
  clear: both;
  page-break-after: always;
}
</style>

    </head>
  <body>

    <div id="content">
<% i = 0 %>
<% for ingresso in @ingressos %>
  <% barcode = Barby::Code128B.new(ingresso.code) %>
  <div class="ingresso" >
    <div class="date"><%= ingresso.created_at %></div>
    <img class="codebar" width="400" class="figure" src="data:image/svg+xml;base64,<%= Base64.encode64(barcode.to_svg) %>"></img>
    <div class="texto"><%= ingresso.tipo.nome %></div>
    <div class="code"><%= ingresso.code %></div>
  </div>
  <% i += 1 %>
  <% if i >= 3 then %>
    <div class="page-break"></div>
    <% i=0 %>
  <% end %>
<% end %>
</div>
</body>
</html>
