<div class="row">
  <div class="col-md-6 text-center" >
    <table class="table table-striped">
      <tr>
        <th>Nome</th>
        <th>Valor</th>
        <th>Descricao</th>
        <th>Ação</th>
      </tr>
      <% for tipo in @tipos %>
      <tr>
        <td><%= tipo.nome %></td>
        <td>R$<%= tipo.valor %></td>
        <td><%= tipo.descricao %></td>
        <td>
          <%= link_to "Editar", edit_tipo_path(tipo), class:"btn btn-default" %>121
          <%= link_to 'Destroy', tipo_path(@post), class:"btn btn-default",
            :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
